# ----------------------------------------
# Archivos y carpetas de JetBrains / PyCharm
# ----------------------------------------
.idea/
*.iml

# ----------------------------------------
# Cache de Python
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Entornos virtuales
# ----------------------------------------
env/
venv/
.venv/
ENV/
.build/
.python-version